*{
    margin: auto;
    padding: auto;
    margin-top: 8px;
    
}

.calculo{
    background-color: rgb(255, 187, 0);
    font-size: 12px;
    border-radius: 15px;
    width: 250px;
    height: 400px;
    min-width: 300px;
    max-width: 1000px;
    text-align: center;
    padding: 30px;
    font-weight: bold;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.596);
    
    
}

.imc {
    margin-bottom: 30px;
    font-size: 15px;

    
}

#linha {
    width: 100%;
    border-bottom: 3px solid #000000;
    
}

.nome{
    display: flex;
    font-size: 20px;
    text-align: left;
    align-items: center;
    justify-content: space-between;
    
    
}


#nome1 {
    border-radius: 5px;
    height: 30px;
    width: 170px;
    border: none;
    text-align: center;
    font-weight: bold;
    
    
}

.altura {
    display: flex;
    font-size: 20px;
    text-align: left;
    align-items: center;
    justify-content: space-between;
    
    
    
}

#altura1 {
    border-radius: 5px;
    height: 30px;
    width: 170px;
    border: none;
    text-align: center;
    font-weight: bold;
    
}

.peso {
    display: flex;
    font-size: 20px;
    text-align: left;
    align-items: center;
    justify-content: space-between;
    
    
}

#peso1 {
    border-radius: 5px;
    height: 30px;
    width: 170px;
    border: none; 
    text-align: center;
    font-weight: bold;
    
}

#calcular{
    width: 240px;
    background-color: #000000;
    color: rgb(255, 187, 0);
    border-radius: 4px;
    text-align: center;
    margin: auto;
    
}

#res {
    
    width: 240px;
    height: 100px;
    background-color: #000000;
    color: rgb(255, 187, 0);
    border-radius: 4px;
    text-align: center;

    
    
}

